VITE_API_URL=http://localhost:4000

VITE_INSTAGRAM_URL=https://www.instagram.com/goldenstudioplus/
VITE_FACEBOOK_URL=https://www.facebook.com/people/Golden-Studio-Plus/61574353412752/
VITE_LINKEDIN_URL=
